@page {
  margin: 1.2cm 1.2cm;
  size: A4 portrait;
  marks: none;
}

h2 {
  margin: 0.5em 0;
}

h3 {
  margin: 1.5ex 0 1ex;
}

ul {
  margin: 0;
  padding-left: 3ex;
}

body:not(.swiss) .swiss {
  display: none;
}

body.swiss .swiss {
  display: block;
}

html {
  background: #efefef url(images/cv-code.png) no-repeat right bottom -160px;
  background-size: 25%;
  font-size: 13pt;
}

@media print {
  html {
    background: white;
  }

  a, a:visited {
    color: blue;
  }
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

#recruiters {
  background: white;
}

#recruiters p {
  padding: 0;
  margin: .2ex 0;
}

#recruiters p:first-child {
  font-size: 120%;
}

@media print {
  #recruiters {
    display: none;
  }
}

#content {
  display: grid;
  grid-template-areas: "header header" "main aside";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 30ch;
  grid-gap: 2px;
  
  background: white;
  width: 21cm;
  margin: 1em auto;
  padding: 1.2cm 1.2cm;

  box-shadow: 0px 3px 6px black;
}

@media print {
  #content {
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
}

header {
  grid-area: header;
  background: #ebebeb;
  padding: 1ex;
  break-inside: avoid;
}

#about {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1fr 40ch;
}

body.swiss #about {
  grid-template-columns: 1fr 40ch 9ex;
}

#about h1 {
  margin: 3pt 0 0;
}

#about h1 small {
  display: block;
  font-size: 17pt;
  font-weight: normal;
}

body.swiss #about h1 small {
  font-size: 14pt;
}

#about address {
  text-align: right;
  font-style: normal;
}

#about address a {
  color: inherit;
  text-decoration: none;
}

#about img {
  max-width: 95%;
  max-height: 95%;
  margin: 0 0 0 1ex;
}

main {
  grid-area: main;
  background: white;
  padding: 1ex;
}

.job {
  break-inside: avoid;
}

.job h3 {
  display: grid;
  grid-template-areas: "title title title" "company time location";
  grid-template-columns: 1fr 19ch 17ch;
}

.job h3 .title {
  grid-area: title;
}

.job h3 .company {
  grid-area: company;
  font-weight: normal;
}

.job h3 .time {
  grid-area: time;
  font-weight: normal;
  text-align: right;
}

.job h3 .location {
  grid-area: location;
  font-weight: normal;
  text-align: right;
}

.job h4 {
  margin: 1ex 0;
}

#education p {
  padding-bottom: 0;
  margin-bottom: 0;
}

aside {
  grid-area: aside;
  background: #cfe2f3;
  padding: 1ex;
}

aside section {
  break-inside: avoid;
}

@media print {
  body:not(.swiss) #other-interests h2 {
    padding-top: 1em; 
  }

  body.swiss #languages h2 {
    padding-top: 1em;
  }
}

#links ul {
  list-style-type: none;
  padding: 0;
}

#links a {
  text-decoration: none;
  color: blue;
}

#links img {
  max-width: 1.1em;
  max-height: 1.1em;
  vertical-align: middle;
  padding: 0 2pt 0 0;
}

@media print {
  #links a::after {
    content: attr(href);
    font-size: 9pt;
    display: block;
  }
}

#online {
  display: none;
}

@media print {
  #online {
    display: block;
    font-size: 11pt;
  }

  body:not(.swiss) #online {
    margin: 43em 0 0;
  }

  body.swiss #online {
    margin: 25em 0 0;
  }
}

footer {
  grid-area: footer;
  border: 1px solid gray;

  width: 21cm;
  margin: 2em auto;
  padding: 1.2cm 1.2cm;

  box-shadow: 0px 3px 6px black;
}

footer .right {
  float: right;
  text-decoration: none;
}

@media print {
  footer {
    display: none;
  }
}
